@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  min-width: 320px;

  color: $main-text-color;
  font-family: $main-font;

  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

<<<<<<< HEAD
a {
  text-decoration: none;
}

ul {
=======
%link {
  text-decoration: none;
}

%list {
  margin: 0;
  padding: 0;
>>>>>>> c0eecdc7be551e7eec6fb42fc1edf68e09c0a75e
  list-style: none;
}