@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;

  color: $main-text-color;
  font-family: $main-font;

  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a, %link {
  text-decoration: none;
}

ul, %list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow: hidden;
}

section {
  scroll-margin-top: 4rem;
}
