@import './utils/variables';

@import './base/common';
@import './base/reset';

@import './components/container';
@import './components/header-mob';
@import './components/favorites-list';
@import './components/footer';
// @import './components/modal';

@import './layouts/customers-section';
@import './layouts/favorites-section';
@import './layouts/subscribe-section';
