<section class="customers" id="customers">
  <div class="container">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers__list">
      <li class="customers__item">
        <ul class="stars__list">
          <li class="stars__item">
            <svg class="icon-star" width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__item">
            <svg class="icon-star" width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__item">
            <svg class="icon-star" width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__item">
            <svg class="icon-star" width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__item">
            <svg class="icon-star" width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>

        <p class="pre-text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customer-box">
          <picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./images/castomers/mobile/castomer1.jpg,
                ./images/castomers/mobile/castomer1@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px) and (max-width:1279px)"
              srcset="
                ./images/castomers/mobile/castomer1.jpg,
                ./images/castomers/mobile/castomer1@2x.jpg 2x
              "
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/castomers/mobile/castomer1.jpg,
                ./images/castomers/mobile/castomer1@2x.jpg 2x
              "
            />
            <img
              class="icon"
              src="./images/castomers/mobile/castomer1.jpg"
              alt="man"
            />
          </picture>
          <div class="thumb">
            <h3 class="pre-title">Sumith Shah</h3>
            <p class="description">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="customers__item">
        <ul class="stars__list">
          <li class="stars__item">
            <svg class="icon-star" width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__item">
            <svg class="icon-star" width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__item">
            <svg class="icon-star" width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__item">
            <svg class="icon-star" width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__item">
            <svg class="icon-star" width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="pre-text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customer-box">
          <picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./images/castomers/mobile/castomer2.jpg,
                ./images/castomers/mobile/castomer2@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px) and (max-width:1279px)"
              srcset="
                ./images/castomers/mobile/castomer2.jpg,
                ./images/castomers/mobile/castomer2@2x.jpg 2x
              "
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/castomers/mobile/castomer2.jpg,
                ./images/castomers/mobile/castomer2@2x.jpg 2x
              "
            />
            <img
              class="icon"
              src="./images/castomers/mobile/castomer2.jpg"
              alt="woman"
            />
          </picture>
          <div class="thumb">
            <h3 class="pre-title">Sumith Shah</h3>
            <p class="description">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
