<section class="favorites-section" id="favorites">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <ul class="favorites-list">
      <li class="favorites-list__item">
        <picture>
          <source
            media="(max-width: 1279px)"
            srcset="
              ./images/favorites/tablet/gamburger.jpg    1x,
              ./images/favorites/tablet/gamburger@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/favorites/desktop/gamburger.jpg    1x,
              ./images/favorites/desktop/gamburger@2x.jpg 2x
            "
          />
          <img
            class="favorites-list__photo"
            src="./images/favorites/tablet/gamburger.jpg"
            alt="gamburger"
          />
        </picture>
      </li>
      <li class="favorites-list__item">
        <picture>
          <source
            media="(max-width: 1279px)"
            srcset="
              ./images/favorites/tablet/pasta.jpg    1x,
              ./images/favorites/tablet/pasta@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/favorites/desktop/pasta.jpg    1x,
              ./images/favorites/desktop/pasta@2x.jpg 2x
            "
          />
          <img
            class="favorites-list__photo"
            src="./images/favorites/tablet/pasta.jpg"
            alt="pasta"
          />
        </picture>
      </li>
      <li class="favorites-list__item">
        <picture>
          <source
            media="(max-width: 1279px)"
            srcset="
              ./images/favorites/tablet/pizza.jpg    1x,
              ./images/favorites/tablet/pizza@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/favorites/desktop/pizza.jpg    1x,
              ./images/favorites/desktop/pizza@2x.jpg 2x
            "
          />
          <img
            class="favorites-list__photo"
            src="./images/favorites/tablet/pizza.jpg"
            alt="pizza"
          />
        </picture>
      </li>
      <li class="favorites-list__item">
        <picture>
          <source
            media="(max-width: 1279px)"
            srcset="
              ./images/favorites/tablet/chicken.jpg    1x,
              ./images/favorites/tablet/chicken@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/favorites/desktop/chicken.jpg    1x,
              ./images/favorites/desktop/chicken@2x.jpg 2x
            "
          />
          <img
            class="favorites-list__photo"
            src="./images/favorites/tablet/chicken.jpg"
            alt="chicken with rice"
          />
        </picture>
      </li>
      <li class="favorites-list__item">
        <picture>
          <source
            media="(max-width: 1279px)"
            srcset="
              ./images/favorites/tablet/salat.jpg    1x,
              ./images/favorites/tablet/salat@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/favorites/desktop/salat.jpg    1x,
              ./images/favorites/desktop/salat@2x.jpg 2x
            "
          />
          <img
            class="favorites-list__photo"
            src="./images/favorites/tablet/salat.jpg"
            alt="salat"
          />
        </picture>
      </li>
      <li class="favorites-list__item">
        <picture>
          <source
            media="(max-width: 1279px)"
            srcset="
              ./images/favorites/tablet/borshch.jpg    1x,
              ./images/favorites/tablet/borshch@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/favorites/desktop/borshch.jpg    1x,
              ./images/favorites/desktop/borshch@2x.jpg 2x
            "
          />
          <img
            class="favorites-list__photo"
            src="./images/favorites/tablet/borshch.jpg"
            alt="borshch"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
