<footer class="footer" id="footer">
  <div class="container footer__wrapper">
    <div class="footer-link__wraper">
      <a class="footer__logo-link" href="./index.html">
        <img
          src="./images/logo.svg"
          alt="logo"
          width="69"
        />
      </a>
      <nav class="footer-nav">
        <ul class="footer-nav__list list">
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#hero">Favorite food</a> 
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#offerings">Our offerings</a> 
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#favorites">Favorites </a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#customers">Customers Say</a> 
          </li> 
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#subscribe">Subscribe</a> 
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#footer">About us</a> 
          </li>
        </ul>
      </nav>
    </div>
      
      <div class="footer-form__container">
        <form class="footer-form">
          <p class="footer-form__text">
            Subscribe
          </p>
          <div class="footer-form__wrap">
            <label for="mail"></label>
              <input name="mail" id="mail" type="email" placeholder="Enter your email"/>
              <button type="submit" class="footer-form__btn  animate__animated animate__pulse animate__infinite animate__slow">Subscribe</button> 
          </div>
        </form>
      </div>
      <p class="footer__agree">
        By subscribing you agree to with our
        <a class="footer__privacy-policy" href=""> Privacy Policy</a>
      </p>

    <div class="footer-info">
      <ul class="footer-info__list">
        <li class="footer-info__item"> <a class="footer-info__link" href="#">
          Privacy Policy
        </a> 
        </li>
        <li class="footer-info__item"> <a class="footer-info__link" href="#">
          Terms of Service
        </a> 
        </li>
        <li class="footer-info__item"> <a class="footer-info__link" href="#">
          Cookies Settings
        </a> 
        </li>
      </ul>
      <p class="footer__copyright">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
