<footer class="footer">
  <div class="container footer__wrapper">
    <div class="footer__basic">
      <a class="footer__logo-link" href="./index.html">
        <img
          src="./images/logo.svg"
          alt="logo"
          width="69px"
        />
      </a>
      <ul class="footer__menu-list">
        <li class="footer__menu-item">Header</li>
        <li class="footer__menu-item">Hero</li>
        <li class="footer__menu-item">Offerings</li>
        <li class="footer__menu-item">Favorites</li>
        <li class="footer__menu-item">Customers Say</li>
        <li class="footer__menu-item">Subscribe</li>
      </ul>
      <label class="footer__subscribe" action="">
        <input class="footer__input" type="text" />
      </label>
      <button class="footer__button">Subscribe</button>
      <p class="footer__agree">
        By subscribing you agree to with our
        <a class="footer__privacy-policy" href=""> Privacy Policy</a>
      </p>
    </div>

    <div class="footer__info">
      <ul class="footer__info-list">
        <li class="footer__info-item">Privacy Policy</li>
        <li class="footer__info-item">Terms of Service</li>
        <li class="footer__info-item">Cookies Settings</li>
      </ul>
      <p class="footer__copyright">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
