<section class="hero" id="hero">
  <div class="container container--hero">
    <picture>
      <source
        srcset="
          ./images/hero/background-desktop.png    1x,
          ./images/hero/background-desktop@2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hero/background-tablet.png    1x,
          ./images/hero/background-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />

      <source
        srcset="
          ./images/hero/background-mob.png    1x,
          ./images/hero/background-mob@2x.png 2x
        "
        media="(min-width: 480px)"
      />

      <source
        srcset="
          ./images/hero/background-mob.png    1x,
          ./images/hero/background-mob@2x.png 2x
        "
        media="(max-width: 479px)"
      />

      <img
        src="./images/hero/background-desktop.png"
        alt="hero-background"
        class="hero__background"
      />
    </picture>
    <h1 class="hero__title animate__animated animate__backInLeft animate__slow">
      Enjoy Your Favorite Food From Anywhere
    </h1>
    <p class="hero__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button
      type="button"
      class="button__order button__order--hero animate__animated animate__pulse animate__infinite"
      data-modal-open
    >
      Order Now
    </button>

    <div class="dishes">
      <div class="dishes__wrapper">
        <div class="dishes__slider">
          <picture class="dishes__img">
            <source
              srcset="
                ./images/hero/dish1-desktop.png    1x,
                ./images/hero/dish1-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./images/hero/dish1-tablet.png    1x,
                ./images/hero/dish1-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <img src="./images/hero/dish1-tablet.png" alt="Dish № 1" />
          </picture>
          <picture class="dishes__img">
            <source
              srcset="
                ./images/hero/dish2-desktop.png    1x,
                ./images/hero/dish2-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/dish2-tablet.png    1x,
                ./images/hero/dish2-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <img src="./images/hero/dish2-tablet.png" alt="Dish № 2" />
          </picture>
          <picture class="dishes__img">
            <source
              srcset="
                ./images/hero/dish3-desktop.png    1x,
                ./images/hero/dish3-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./images/hero/dish3-tablet.png    1x,
                ./images/hero/dish3-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <img src="./images/hero/dish3-tablet.png" alt="Dish № 3" />
          </picture>
        </div>
        <button
          type="button"
          class="dishes__button dishes__button--prev"
          id="btn-prev"
        >
          <svg class="dishes__arrow">
            <use href="./images/icons.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button
          type="button"
          class="dishes__button dishes__button--next"
          id="btn-next"
        >
          <svg class="dishes__arrow">
            <use href="./images/icons.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
