<!-- Modal -->
<div class="modal">
    <button class="modal__close-btn link" data-modal-close>
        <svg width="11px" height="11px">
          <use href="./images/icons.svg#icon-cloe-black-cross"></use>
        </svg>
      </button>
  <p>Order Form</p>
  <form class="form">
    <label class="form__label">
      Name
      <input type="text" name="name" class="form__input" autofocus required placeholder="Your name" />
    </label>

    <label class="form__label">
       Phone number
        <input type="tel" name="tel" class="form__input" required placeholder="+38(0_ _) _ _ _   _ _   _ _" />
      </label>

      <label class="form__label">
        E-mail
        <input type="email" name="email" class="form__input" required placeholder="example@gmail.com" />
      </label>
      <button type="submit">Send</button>
  </form>
</div>

 <!-- Connecting to the page an external file with JS code for the modal window -->
 <script src="./js/modal.js"></script>