<section class="subscribe" id="subscribe">
    <div class="container subscribe-container">
      <picture>
        <source
          srcset="
            ./images/background2-mob-480.png 1x,
            ./images/background2-mob-480@2x.png 2x
          "
          media="(min-width:480px)"
        />
        <img
          src="./images/background2-mob-480.png "
          alt="Банан"
          class="subscribe__image-background"
        />
      </picture>
      <picture>
        <source
          srcset="./images/banan-des.png 1x, ./images/banan-des@2x.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="./images/banan-tab.png 1x, ./images/banan-tab@2x.png 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/banan-mob.png 1x, ./images/banan-mob@2x.png 2x"
          media="(max-width:767px)"
        />
        <img src="./images/banan-des.png" alt="Банан" class="subscribe__image-banan animate__animated animate__bounce animate__infinite animate__slower" />
      </picture>
      <form class="subscribe-form">
        <h2 class="subscribe-form__title">Subscribe To Get Special Offers</h2>
        <p class="subscribe-form__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>

        <label class="subscribe-form__label">
          <input
            type="email"
            name="email"
            class="subscribe-form__input"
            placeholder="Enter your email"
            required
          />
        </label>

        <button type="submit" class="subscribe-form__btn  animate__animated animate__pulse animate__infinite animate__slow">Subscribe</button>
      </form>
    </div>
  </section>
