.actions__button {
  font-size: 13px;
  line-height: 150%;
  color: $main-text-color;
  font-weight: 500;
  min-width: 106px;
  height: 40px;
  padding: 9px 20px;
  background: $slider-button-bg;
  border: 2px solid $second-text-color;
  border-radius: 30px;
  cursor: pointer;
  transition: border $animation;

  &:hover,
  &:active {
    border: 2px solid $hover-border-color;
  }
}

.button__order {
  font-size: 13px;
  line-height: 150%;
  font-weight: 500;
  transition: background-color $animation;

  &:hover,
  &:active {
    background-color: $hover-color;
  }
}
.footer-form__btn {
  transition: background-color $animation;

  &:hover,
  &:active {
    background-color: $second-hover-color;
  }
}

.menu__link {
  transition: color $animation;

  &:hover,
  &:active {
    color: $accent-color;
    text-decoration: underline;
  }
}
