@media screen and (min-width: 768px) {
   
}
@media screen and (min-width: 1280px) {

}



.footer{
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0px;
    box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

    background-image:url(..//../images/footer/footer-bg-mob.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(..//../images/footer/footer-bg-mob@2x.jpg);
    }
}

    @media screen and (min-width: 768px) {
    background-size: 768px;
    background-position: bottom;
    background-image: url('..//../images/footer/footer-bg-tablet.jpg');
    padding: 100px 0px;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url('..//../images/footer/footer-bg-tablet@2x.jpg');
    }
    }
    }


    @media screen and (min-width: 1280px) {
    background-size: 1280px;
    background-position: bottom;
    background-image:url('..//../images/footer/footer-bg-decktop.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url('..//../images/footer/footer-bg-decktop@2x.jpg');
    }
    }
    }
    
&__wrapper {
    @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    }  
}

&-form__container{
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
   margin-bottom: 12px;
    }
    @media screen and (min-width: 1280px) {
    margin-left: auto;
    }
}

&__logo-link {
    margin-right: 80px;
   
    @media screen and (min-width: 1280px) {
        margin-right: 148px;
    }
}

&__agree{
    margin-bottom: 60px;
    font-family: 'Roboto';
font-weight: 400;
font-size: 10px;
line-height: 1.2;
color: $main-text-color;

@media screen and (min-width: 768px) {
margin-bottom: 100px;
font-size: 12px;
}
@media screen and (min-width: 1280px) {
margin-left: auto;
margin-right: 120px;
margin-bottom: 80px;
}
}
&__privacy-policy{
    color: $second-text-color;
    text-decoration-line: underline;

    @media screen and (min-width: 768px) {
   margin-left: 2px;
    }
    @media screen and (min-width: 1280px) {
    
    }
}
&-info{
    @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    }
    @media screen and (min-width: 1280px) {
    
    }
    

    &__list{
        display: flex;
        justify-content: space-between;
        margin-bottom: 46px;

        @media screen and (min-width: 768px) {
        justify-content: flex-start;
        margin-bottom: 0;
        }
        @media screen and (min-width: 1280px) {
        margin-right: 785px;
        } 
    }
    &__link{
font-family: 'Roboto';
font-size: 10px;
line-height: 1.2;
color: $second-text-color;

text-decoration-skip-ink: none;
text-decoration-line: underline;

@media screen and (min-width: 768px) {
   font-size: 12px;
}
@media screen and (min-width: 1280px) {

}
    }

    &__item {
        @media screen and (min-width: 768px) {
            margin-right: 10px;
        }
        @media screen and (min-width: 1280px) {
        
        }
    }
}
&__copyright{
    font-family: 'Roboto';
font-size: 10px;
line-height: 1.2;
color: $main-text-color;
text-align: center;

@media screen and (min-width: 768px) {
   font-size: 12px;
   margin-left: auto;
}
@media screen and (min-width: 1280px) {

}
}
}
.footer-nav {

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-left: 0;
    }
    @media screen and (min-width: 1280px) {
   
    }


    &__item{
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
        margin-bottom: 0;
        margin-right: 20px;
        }
        @media screen and (min-width: 1280px) {
        
        }
    }

    &__link{
        font-family: 'Roboto';
        font-weight: 400;
        color: $nav-text-color;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
        @media screen and (min-width: 1280px) {
        
        }
    }

    &__list {
        @media screen and (min-width: 768px) {
        display: flex;
        }
        @media screen and (min-width: 1280px) {
        
        }
        
    }
}
.footer-link__wraper{
    display: flex;
    margin-bottom: 40px;

    @media screen and (min-width: 1280px) {
    margin-bottom: 0;
    }
}

.footer-form{
    &__text{
        font-family: 'Roboto';
        font-weight: 500;
        color: $main-text-color;

        margin-bottom: 12px;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
        @media screen and (min-width: 1280px) {
        
        }
    }

    &__wrap>input{
width: 100%;
height: 42px;
padding-left: 12px;
margin-bottom: 20px;
border: 0.854167px solid $second-hover-color;
border-radius: 30px;
outline: none;
font-size: 12px;

@media screen and (min-width: 768px) {
   width: 279px;
   margin-right: 13px;
   margin-bottom: 0;
}
@media screen and (min-width: 1280px) {

}
    }
    &__wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: right;

        @media screen and (min-width: 768px) {
           justify-content: start;
         }
         @media screen and (min-width: 1280px) {
         
         } 
    }
    &__btn{
        font-family: 'Roboto';
font-weight: 500;
color: $main-text-color;
cursor: pointer;
        width: 103px;
        height: 42px;
        background: $slider-button-bg;
border: 0.854167px solid $second-text-color;
border-radius: 30px;

@media screen and (min-width: 768px) {
   font-size: 13px;
}
@media screen and (min-width: 1280px) {

}
    }
}  