.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $main-bg-color;
  box-shadow: 0px 4px 24px $shadow-header;
}

.header-page {
  position: relative;
  display: flex;

  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.button__menu {
  margin-left: auto;
  border: 0;
  background-color: $main-bg-color;

  cursor: pointer;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.button__menu-svg {
  fill: $second-text-color;
  transition: fill $animation;

  .button__menu:hover & {
    fill: $second-hover-color;
  }
}

.button__order {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    cursor: pointer;
  }
}

.menu-container {
  position: absolute;
  display: none;
  top: 50px;
  right: 20px;

  overflow: hidden;

  &.is-open {
    display: flex;
    flex-direction: column;
    z-index: 2;

    background: $main-bg-color;
    border-radius: 30px 0px 30px 30px;
    box-shadow: 0px 4px 24px $shadow-header;
    
    @media screen and (min-width: $tablet) {
      & {
        display: none;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    position: static;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.menu__cross {
  position: absolute;
  top: 4px;
  right: 4px;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu__cross-icon {
  width: 100%;
  fill: $main-text-color;
}

.menu__list {
  @extend %list;
}

.menu__item {
  display: block;

  @media screen and (min-width: $tablet) {
    display: inline-block;
  }
}

.menu__link {
  @extend %link;
  display: block;
  padding: 14px;


  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.19;

  background-color: $main-bg-color;
  transition: background-color $animation;
  color: $nav-text-color;


  @media screen and (max-width: $mobile-end) {
  .menu__item:hover &,
  .menu__item:focus & {
    background-color: $accent-color;
    cursor: pointer;
    color: $nav-text-color;
    text-decoration: none;
  }
  }
  
}