.header {
  background-color: $main-bg-color;
  box-shadow: 0px 4px 24px $shadow-header;
}

.header-page {
  @extend %container;
  position: relative;
  display: flex;

  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.button__menu {
  margin-left: auto;
  border: none;
  background-color: $main-bg-color;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.button__menu-svg {
  fill: $second-text-color;
}

