.offerings-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 480px;
    padding: 0px 20px 60px 20px;
    background-color: $second-hover-color;
    font-family: 'Roboto';
    font-style: normal;

    @media screen and (min-width: 768px) {
        max-width: 768px;
        }
    
    @media screen and (min-width: 1280px) {
        display: flex;
        max-width: 1280px;
        }
}

.offerings {
    margin-top: 60px;
    @media screen and (min-width:1280px) {
        margin-left: 90px;
        width: 573px;
    }
}

.offerings-pic {
    width: 100%;
    height: auto;
    margin: 0px auto;
}

.offerings__header {
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;

    color: $main-text-color;

    @media screen and (min-width: 768px) {
        font-size: 42px;
        line-height: 1.17;
    }

    @media screen and (min-width: 1280px) {
        line-height: 1.2;
    }
}

.offerings__description {
    margin-bottom: 28px;
    @media screen and (min-width: 1280px) {
        width: 526px;
        margin-bottom: 40px;
        }
}

.offerings__paragraph {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    color: $main-text-color;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.17;
        }
    
    @media screen and (min-width: 1280px) {
        line-height: 1.5;
        }
}

.features {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.features__item {
    margin-bottom: 28px;
    @media screen and (min-width: 1280px) {
        width: 253px;
        }
}

.features__item-delivery::before,
.features__item-order::before {
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
}

.features__item-delivery::before {
    background-image: url(/src/images/icon-deliv.svg);
}

.features__item-order::before {
    background-image: url(/src/images/icon-order.svg);
}

.features__item-delivery,
.features__item-order {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: $main-text-color;
}
.actions {
        display: flex;
        gap: 24px;
}
.actions__button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    
    color: $main-text-color;
}
.actions__link{
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13.6667px;
    line-height: 1.5;

    color: $nav-text-color;
}
.actions__link::after{
    content: "";
    display: block;
    margin-left: 3px;
    width: 14px;
    height: 14px;
    background-image: url(/src/images/сhevron.svg);
}